# Игнорируем гигантскую папку с зависимостями
node_modules/

# Игнорируем логи ошибок
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Игнорируем файлы конфигурации окружения (где хранятся секретные ключи, пароли от БД и токены)
.env
.env.local

# Игнорируем скрытые папки операционных систем и редакторов
.DS_Store
.vscode/